language: elixir
elixir:
  - 1.5.0
  - 1.5.1
  - 1.5.2
  - 1.6.0
  - 1.6.1
  - 1.6.2
  - 1.6.3
  - 1.6.4
  - 1.6.5
  - 1.6.6
  - 1.7.0
  - 1.7.1
  - 1.7.2
  - 1.7.3
otp_release:
  - 19.3
  - 20.0
script:
  - mix coveralls.travis
  - mix credo
  - mix inch.report
env:
  - MIX_ENV=test
